{{> head}}

    <body>
        <div class="container">

            {{> nav aboutActive=true}}

            <div class="jumbotron">
                <img src="/img/logo.png">
            </div>

            <div id="homecontent" style="text-align: center;">
                <h1>{{PGTXT_ABOUT_Q1}}</h1>
                <h4>{{PGTXT_ABOUT_A1}}</h4>

                <hr>

                <h1>{{PGTXT_ABOUT_Q2}}</h1>
                <h4>{{PGTXT_ABOUT_A2}}</h4>

                <hr>

                <h1>{{PGTXT_ABOUT_Q3}}</h1>
                <h4>{{PGTXT_ABOUT_A31}}</h4>
                <br>
                <h4>{{{PGTXT_ABOUT_A32}}}</h4>
                <h4>{{{PGTXT_ABOUT_A33}}}</h4>
                <h4>{{{PGTXT_ABOUT_A34}}}</h4>

                <hr>

                <h1>{{PGTXT_ABOUT_Q4}}</h1>
                <h4>{{{PGTXT_ABOUT_A41}}}</h4>
                <h4>{{PGTXT_ABOUT_A42}}</h4>
                <h4>{{PGTXT_ABOUT_A43}}</h4>

                <hr>

                <h1>{{PGTXT_ABOUT_Q5}}</h1>
                <h4>{{{PGTXT_ABOUT_A51}}}</h4>
                <h4>{{{PGTXT_ABOUT_A52}}}</h4>
                <small>{{PGTXT_ABOUT_A53}}</small>

                <hr>

                <h1>{{PGTXT_ABOUT_Q6}}</h1>
                <h4>{{PGTXT_ABOUT_A61}}</h4>
                <h4>{{PGTXT_ABOUT_A62}}</h4>
                <small>{{PGTXT_ABOUT_A63}}</small>

                <hr>

                <h1>{{PGTXT_ABOUT_Q7}}</h1>
                <h4>{{{PGTXT_ABOUT_A71}}}</h4>
                <h4>{{{PGTXT_ABOUT_A72}}}</h4>
            </div>
        </div>
        </div>
    </body>

{{> foot}}
