{{> head}}

    <body>
        <div class="container">
            
            {{> nav dirActive=true}}

            <table class="table table-striped table-bordered table-hover table-responsive">
            	<thead>
            		<tr>
            			<th>
            				{{PGTXT_SIGNUP_USERNAME_PLC}}
            			</th>
            			<th>
            				{{PGTXT_DIRECTORY_WEBSITE_LINK}}
            			</th>
            			<th>
            				{{PGTXT_DIRECTORY_WEBSITE_TITLE}}
            			</th>
            			<th>
            				{{PGTXT_DIRECTORY_WEBSITE_DESC}}
            			</th>
            		</tr>
            	</thead>
            	<tbody>
                    {{#if directory}}
                    {{#each directory}}
            		<tr>
            			<td>
            				{{this.username}}
            			</td>
            			<td>
            				{{this.weblink}}
            			</td>
            			<td>
            				{{this.pagetitle}}
            			</td>
            			<td>
            				{{this.pagedesc}}
            			</td>
            		</tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <td>
                            {{PGTXT_PROFILE_NO_FRIENDS}}
                        </td>
                        <td>
                            {{PGTXT_PROFILE_NO_FRIENDS}}
                        </td>
                        <td>
                            {{PGTXT_PROFILE_NO_FRIENDS}}
                        </td>
                        <td>
                            {{PGTXT_PROFILE_NO_FRIENDS}}
                        </td>
                    </tr>
                    {{/if}}
            	</tbody>
            </table>
        </div>
    </body>

{{> foot}}
