{{> head}}

    <body>
        <div class="container">

            {{> nav donateActive=true}}

            <div id="homecontent">
                <h1>{{PGTXT_DONATE_Q1}}</h1>
                <dl class="dl-horizontal" style="margin: 0 auto;width:50%;text-align:center;">
                    <dt>{{PGTXT_DONATE_A11}}</dt>
                    <dl>&nbsp;&nbsp;{{PGTXT_DONATE_A12}}</dl>
                    <dt>{{PGTXT_DONATE_A13}}</dt>
                    <dl>&nbsp;&nbsp;{{PGTXT_DONATE_A14}}</dl>
                    <dt>{{PGTXT_DONATE_A15}}</dt>
                    <dl>&nbsp;&nbsp;{{PGTXT_DONATE_A16}}</dl>
                </dl>

                <hr>

                <h1>{{PGTXT_DONATE_Q2}}</h1>
                <h4>{{PGTXT_DONATE_A21}}</h4>
                <ul>
                    <li>{{PGTXT_DONATE_A22}}</li>
                    <li>{{PGTXT_DONATE_A23}}</li>
                    <li>{{PGTXT_DONATE_A24}}</li>
                    <li>{{PGTXT_DONATE_A25}}</li>
                </ul>

                <hr>

                <h1>{{PGTXT_DONATE_Q3}}</h1>
                <h4>{{PGTXT_DONATE_A31}}</h4>
                <small>{{PGTXT_DONATE_A32}}</small>
                <a class="btn btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HHJW74D3TZFT2">{{PGTXT_DONATE_BTN}}</a>
            </div>
        </div>
    </body>

{{> foot}}
