{{> head}}

    <body>
        <div class="container">

            {{> nav homeActive=true}}

            <div class="jumbotron">
                <h1>{{PGTXT_HOME_GREETING}}</h1>
                <p>{{PGTXT_HOME_INTRODUCTION}}</p>
                <small>{{PGTXT_HOME_ASTERISK}}</small>
            </div>

            <div id="homecontent">
                <h1>{{PGTXT_HOME_BENEFITS_Q}}</h1>
                <dl class="dl-horizontal">
                    <dt>{{PGTXT_HOME_BENEFIT_Q1}}</dt>
                    <dl>&nbsp;&nbsp;{{PGTXT_HOME_BENEFIT_A1}}</dl>
                    <dt>{{PGTXT_HOME_BENEFIT_Q2}}</dt>
                    <dl>&nbsp;&nbsp;{{{PGTXT_HOME_BENEFIT_A2}}}</dl>
                    <dt>{{PGTXT_HOME_BENEFIT_Q3}}</dt>
                    <dl>&nbsp;&nbsp;{{PGTXT_HOME_BENEFIT_A3}}</dl>
                    <dt>{{PGTXT_HOME_BENEFIT_Q4}}</dt>
                    <dl>&nbsp;&nbsp;{{PGTXT_HOME_BENEFIT_A4}}</dl>
                    <dt>{{PGTXT_HOME_BENEFIT_Q5}}</dt>
                    <dl>&nbsp;&nbsp;{{PGTXT_HOME_BENEFIT_A5}}</dl>
                </dl>

                <hr>

                <h1>{{PGTXT_HOME_CATCH_Q}}</h1>
                <h4>{{PGTXT_HOME_CATCH_A1}}<br><br>
                    {{PGTXT_HOME_CATCH_A2}}<br><br>
                    {{PGTXT_HOME_CATCH_A3}}<br><br>
                    {{PGTXT_HOME_CATCH_A4}}</h4>
            </div>
        </div>
    </body>

{{> foot}}
