{{> head}}

    <body>
        <div class="container">

            {{> nav signupActive=true}}

            <form id="signupform" class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <legend>{{PG_SIGNUP}}</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="username">{{PGTXT_SIGNUP_USERNAME}}</label>
              <div class="col-md-4">
              <input id="username" name="username" type="text" placeholder="{{PGTXT_SIGNUP_USERNAME_PLC}}" class="form-control input-md">

              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password">{{PGTXT_SIGNUP_PASSWORD}}</label>
              <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="{{PGTXT_SIGNUP_PASSWORD_PLC}}" class="form-control input-md">

              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="confirmpass">{{PGTXT_SIGNUP_CONPASSWORD}}</label>
              <div class="col-md-4">
                <input id="confirmpass" name="confirmpass" type="password" placeholder="{{PGTXT_SIGNUP_CONPASSWORD_PLC}}" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">{{PGTXT_SIGNUP_EMAIL}}</label>
              <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="{{PGTXT_SIGNUP_EMAIL_PLC}}" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="confirmemail">{{PGTXT_SIGNUP_CONEMAIL}}</label>
              <div class="col-md-4">
              <input id="confirmemail" name="confirmemail" type="text" placeholder="{{PGTXT_SIGNUP_CONEMAIL_PLC}}" class="form-control input-md">

              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="checkboxes"></label>
              <div class="col-md-4">
                <label class="checkbox-inline" for="checkboxes-0">
                  <input type="checkbox" name="checkboxes" id="checkboxes-0" value="agreetos">
                  {{{PGTXT_SIGNUP_TOSAGREE}}}
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="checkboxes1"></label>
              <div class="col-md-4">
                <label class="checkbox-inline" for="checkboxes-1">
                  <input type="checkbox" name="checkboxes1" id="checkboxes-1" value="placeondirectory">
                  {{{PGTXT_SIGNUP_REQUESTDIR}}}
                </label>
              </div>
            </div>

            <!--<div class="form-group">
                <label class="col-md-4 control-label" for="null"></label>
                <div class="col-md-4">
                    <div class="g-recaptcha" data-sitekey="6LdppAoUAAAAAEcGqOd50_fNPkJXbLbW8aKwbOay"></div>
                </div>
            </div>-->
            </fieldset>
            </form>

            <div class="form-group">
              <label class="col-md-4 control-label" for="null"></label>
              <div class="col-md-4">
                <button id="null" name="null" class="btn btn-primary" onclick="submit()">{{PG_SIGNUP}}</button>
              </div>
            </div>

        </div>

        <script type="text/javascript">
            function htmlToElement(html) {
                var template = document.createElement('template');
                template.innerHTML = html;
                return template.content.firstChild;
            }

            function submit() {
                var formObject = $("#signupform").serializeObject();
                /*var captcha = grecaptcha.getResponse();

                formObject.captcha = captcha;

                console.log(formObject);*/

                $.post("/api/signup", formObject, function(data) {
                    var input = '<div id="errormsg" class="form-group"><br><label class="col-md-4 control-label" for="null"></label><div class="col-md-4"><p class="formerror bg-danger">' + data.text + '</p></div></div>';
                    var output = htmlToElement(input);
                    $("#errormsg").hide();
                    $(".form-group").last().after(output);
                });
            }
        </script>
    </body>

{{> foot}}
